/* style.css */
body { 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
background-color: black;
	align-items: center; 
	min-height: 50vh; 
} 

.root { 
	font-size: x-large; 
	color: whitesmoke; 
	background-color: rgb(151, 112, 57); 
	box-shadow: 0 2px 5px grey; 
	padding: 0% 5% 1% 5%; 

	text-align: center; 
	border-radius: 5px 0; 
} 

.title { 
	border-bottom: 4px dashed; 
	border-color: rgb(20, 40, 188); 
} 

input { 
	font-size: 20px; 
	padding-left: 10px; 
	outline: 2px rgb(22, 138, 174); 
} 


.foot { 
	margin-bottom: 0%; 
	display: flex; 
	width: 100%; 
} 

.foot>button { 
	width: 48%; 
	padding: 1%; 
	margin: 1%; 
	background-color: rgb(168, 42, 162); 
	border-radius: 5px; 
	border-color: rgb(29, 90, 29); 
	font-size: large; 
}
